## Created by Andrey Markelov 11-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($canView)
    #if ($value)
        ##<span class="tinylink">$userformat.format($value.name, 'profileLink', "user_cf")</span>
        <span class="tinylink">$userformat.formatUserkey($value.key, 'profileLinkActionHeader', 'projectrole_member')</span>
    #end
#end
    